.btn {
    display: inline-block;
    padding: 8px 15px;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    
    &--red {
        background: $red;
    }
    &--black {
        background: $black;
    }
}