.btn {
    display: inline-block;
    padding: rem(8px) rem(15px);
    color: #fff;
    font-size: rem(13px);
    text-transform: uppercase;
    text-decoration: none;
    border-radius: rem(5px);
    
    &--red {
        background: $red;
    }
    &--black {
        background: $black;
    }
}