.subtitle {
    @include lifehack();

    &--white {
        font-size: rem(72px);
        letter-spacing: rem(-1.6px);
        color: #fff;
    }
    &--black {
        font-size: rem(24px);
        color: $black;
        letter-spacing: rem(-0.6px);
    }
}