.title {
    @include gagalin();
    font-size: rem(72px);
    line-height: rem(64px);
    
    &--yellow {
        color: $yellow;
    }
    &--black {
        color: $black;
    }
    &--white {
        color: #fff;
    }
}