.about {
    background: url(../img/bg.png) center center / cover no-repeat;

    &__container {
        height: 100%;
    }

    &__content {
        display: flex;
        align-items: center;
        flex: 0.85;

        @include tablets {
            flex-direction: column;
        }
    }

    &__img {
        margin-right: rem(10px);
    }

    &__text {
        margin-top: rem(80px);
    }

    &__subtitle {
        line-height: 1;
    }

    &__arrow {
        margin: auto auto rem(20px) auto;
    }

    &__arrow-img {
        max-width: rem(35px);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__btns {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-top: rem(15px);
    }
}

.logo__img {
    max-width: rem(100px);
    max-height: rem(80px);
}

.nav {
    margin-right: rem(15px);

    font-size: rem(13px);
    text-transform: uppercase;

    @include tablets {
        display: none;
    }
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    display: flex;
    align-items: center;

    &:after {
        content:'';
        width: rem(6px);
        height: rem(6px);
        border-radius: 50%;
        display: inline-block;
        background-color: #fff;
        margin: 0 rem(10px);
    }

    &:last-child:after {
        display: none;
    }
}

.nav__link {
    color: #fff;
    text-decoration: none;
}