.features {
    background: url(../img/bg1.png) center center / cover no-repeat;

    &__wrap {
        margin-top: rem(30px);
    }

    &__container {
        align-items: center;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        text-align: center;

        @include phones {
            flex-direction: column;
            text-align: left;
        }
    }

    &__item {
        flex: 1;
        margin-right: rem(20px);
        &:last-child {
            margin-right: 0;
        }

        @include phones {
            display: flex;
        }
    }

    &__desc {
        @include phones {
            flex: 1;
            margin-left: rem(25px);
        }
    }

    &__subtitle {
        margin-top: rem(20px);
    }

    &__text {
        color: $black;
        margin-top: rem(20px);
    }

    &__img {
        max-width: rem(100px);
    }
}