.working {
    background: url(../img/bg7.png) center center / cover no-repeat;
}

.working__container {
    align-items: center;
}

.working__title {
    margin-bottom: rem(40px);
}

.working__video {
    width: rem(660px);
    height: rem(370px);
    background: $black;
    margin-top: rem(25px);
}