.working {
    background: url(../img/bg7.png) center center / cover no-repeat;
}

.working__container {
    align-items: center;
}

.working__video {
    width: 660px;
    height: 370px;
    background: $black;
    margin-top: 25px;
}