// colors 
$orange: #e45028;
$orange2: #eb8c38;
$yellow: #f9b43b;
$yellow2: #eb8262;
$black: #2f3234;
$black2: #1f2122;
$red: #e35028;
$darkred: #c1401e;

// breakpoints
$tablets: 768px;
$phones: 480px;